/nucleo/nbproject/private/
/nucleo1/nbproject/private/
/nucleo30_dec/nbproject/private/
/nucleo11/nbproject/private/
/nucleo_12jan/nbproject/private/
/nbproject/private/private.xml
/nbproject/project.xml
/application/config/config.php
TodoList/nbproject/
php-ravel/nbproject/
.idea/
/php-ravel/nbproject/private/
/php-ravel-backend/application/config/config.php
nbproject/private/private.xml